<div class="col-md-6 offset-md-3">
  <br>
  <div class="card">
    <div class="card-header text-center">
      <h2>Edit your profile</h2>
    </div>
    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
