<div class="white">
  <div class="container-fluid">
    <div class="text-center">
      <h1>About DevMatch</h1>
      <h3>We are DevMatch, our company focuses on creating an exclusive community
      for developers and entrepreneurs to meet.
      </h3>
      <br>

    </div>

    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius quam ac orci hendrerit pharetra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla in lacus vel tortor consectetur ornare. Etiam hendrerit facilisis tincidunt. Nulla facilisi. Sed semper erat et mollis semper. Nunc at nisi sodales tortor congue sollicitudin. Praesent rhoncus in est vel pellentesque. Donec iaculis dui augue, id interdum tortor consequat non. Vivamus lobortis sodales scelerisque.</p>
      <br>
      <p>Ut convallis sollicitudin molestie. Donec feugiat nisi lorem, id aliquet massa sagittis vitae. Suspendisse sodales ultrices massa eu tincidunt. Pellentesque in laoreet lectus. Ut tempus libero eget orci iaculis, semper porttitor arcu aliquet. Vivamus vel vulputate mi. Aliquam dignissim justo mi, nec facilisis felis rutrum eu.</p>
      <br>
      <p>Aliquam molestie risus at ullamcorper tempor. Nam cursus posuere magna ac pulvinar. Nulla bibendum, enim quis auctor suscipit, ipsum massa tempus ex, nec rhoncus nibh urna nec felis. In neque neque, porttitor nec luctus vitae, efficitur non purus. Praesent neque libero, luctus ac nulla vitae, sodales finibus lacus. Vestibulum auctor metus maximus, mollis ex nec, facilisis orci. Nam tellus orci, elementum sit amet suscipit eu, semper at felis. Vestibulum ac bibendum diam. Ut ut congue nisl. Nulla tempor enim ut tellus accumsan, vitae ultricies lectus malesuada. Praesent consequat interdum lorem ac vestibulum. Integer augue libero, lobortis non egestas at, aliquam ut neque. Sed accumsan turpis lacus, non consequat ante aliquet sit amet. Nunc sit amet quam nec orci ultricies finibus.</p>
      <br>
      <p>Praesent mi mi, ultricies et diam nec, aliquam egestas lectus. Suspendisse pellentesque pretium nisl. Aenean a tortor tincidunt, tristique nisi vel, egestas est. Curabitur ullamcorper quam ac tellus mattis dignissim. Nulla ut nibh scelerisque, viverra eros in, pulvinar diam. Morbi cursus vitae tortor ut ultricies. Morbi pulvinar, mi vitae commodo ultricies, est nibh maximus sem, id blandit tortor elit quis turpis.</p>
      <br>
      <p>In dolor elit, aliquet a porta eget, consequat in lectus. Aliquam erat volutpat. Nulla tortor dolor, semper et luctus at, gravida vel augue. Mauris maximus feugiat velit vel ullamcorper. Aenean eu purus quis ipsum fringilla viverra. Suspendisse imperdiet scelerisque pharetra. Donec eleifend commodo nibh vel elementum. Morbi lobortis pulvinar massa vel fringilla. Nam ornare tincidunt ex, vitae dignissim felis laoreet sed. Curabitur rhoncus turpis quis sapien bibendum hendrerit vel vitae lorem. Aliquam faucibus non massa vel cursus. In aliquet libero eget enim egestas sollicitudin eget sed odio. Nullam ut mollis neque. Suspendisse tincidunt posuere est, a pharetra tellus maximus in. In elit velit, tincidunt sit amet vestibulum quis, rhoncus vitae nulla.</p>
    </div>
  </div>
</div>