<div class="home-callout main-bar-gradient container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Where developers and corporations meet</h1>
        <div class="col-md-10 col-md-offset-1">
          <h4>DevMatch is the collaborative platform inspired by the way employers and employees work. From small to large business,
            you can find work, offer work and be employed alongside 59 million workers</h4>
          <p><i class="fas fa-chevron-down"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Single link for get started basic plan-->
<div class="container" id="get-started">
  <div class="text-center row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Get started</h2>
      <br>
      <div>
        <div class="col-md-6">
          <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item no-border"><i class="fas fa-money-bill"></i> Free</li>
            <li class="list-group-item no-border"><i class="fas fa-check"></i> Domestic jobs</li>
          </ul>
        </div>
        <div class="col-md-6">
          <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item no-border"><i class="fas fa-money-bill"></i> $10/Month</li>
            <li class="list-group-item no-border"><i class="fas fa-check-double"></i> Global jobs</li>
            <li class="list-group-item no-border"><i class="fas fa-check-double"></i> Post job offers</li>
          </ul>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
<div class="blue-background fill-screen">
</div>
