<div class="home-callout main-bar-gradient text-center container-fluid">
  <h1>DevMatch</h1>
  <h3>A place for developers and corporations to meet</h3>
  <p>Find how you can benefit</p>
</div>
<div class="blue-background fill-screen">
</div>
