/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //*= require_tree .
 //*= require_self
 */
/*CSS here will be added to all html files*/
@import "font-awesome-sprockets";
@import "font-awesome";

//@import 'bootstrap-sprockets'; /* SCSS for bootstrap*/
@import 'bootstrap';

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

//Home page
.home-callout {
  padding-top: 20px;
  padding-bottom: 10px;
  & p {
    margin-top: 4em;
    color: darkslategray;
  }
}

//Navbar
.navbar-default .navbar-brand { //CSS is based on specificity, the more specified takes over
  color: #464748;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default .navbar-toggle {
  border: 2px solid gray;
  &:hover, &:focus {
    background-color: #f2f0ee;
  }
}

.navbar-default .navbar-nav > li > a{
  color: gray;
  & :hover { //SCSS nesting
    color: #575757;
  }
}
//Gradients for various elements - https://uigradients.com
body {
  background: white;
}

.blue-background {
  background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-bar-gradient {
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//Navbar
.navbar {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
}

.navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}


.white {
  background-color: white;
}

.fill-screen {
  padding-bottom: 100%;
}

.login-button-border {
  border: gray 1px solid;
  color: gray;
}

//Alert messages at top of page
#flash-container {
  z-index: 1;
  width: 100%;
  position: absolute;
  text-align: center;
}

.alert-notice, .alert-alert { //Hides devise log in / out messages
  background: rgba(0, 123, 255, 0.86);

  color: white;
  border: 1px white solid;
  text-align: center;
  margin-top: -14px;
  font-size: 18px;
}

#get-started {
  margin-top: 10px;
  padding-bottom: 40px;
}

.no-border {
  border-left: 0;
  border-right: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

//Stripe form
.StripeElement {
  box-sizing: border-box;

  height: 40px;
  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

//This to resolve conflict with bootstrap
.form-row {
  display: inherit;
}