//For user profile
#profile-head {
  margin-top: -3em;
  padding-top: 2em;
}

#experiences {
  padding-left: 0;
}

#contact-info {
  padding-right: 0;
}

#avatar {
  margin-bottom: 15px;
}

.no-margin {
  margin: 0;
}
